.user-nav {
  align-items: center;
  justify-content: center;
}

ul {
  margin: 0;
  padding: 1em;
  list-style: none;
  display: flex;
  justify-content: center;
  background-color: #2e8fff;
}
li {
  padding: 0 1em;
}

@media (max-width: 568px) {
  .user-nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .user-nav ul li {
    margin: 2px;
    /* background-color: #33b8e8; */
    width: 100%;
    text-align: center;
  }
}
